<!--head-->
<nav class="navbar-inverse" role="navigation">
      <div class="container-fluid">

        <div class="navbar-header">
          <a class="navbar-brand" href="/">Group-Co</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">

            {% if app.userId|default(0) > 0 %}

              <li><a href="">{{ app.user.getMobile()|default('') }}</a></li>
              <li><a href="/logout">退出</a></li>
            {% else %}
              <li><a href="/register">注册</a></li>
              <li><a href="/login">登录</a></li>
            {% endif %}
          </ul>
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="">
            </div>
            <button type="submit" class="btn btn-default">搜索</button>
          </form>
        </div>
      </div>
</nav> 

<!--head-->