.container{
    margin-top: 20px;
}
.footer-autumn {
    background-color: #333;
    color: #666;
    text-align: center;
    padding: 40px 0;
}

.mt20 {
	margin-top: 20px;
}

.mr10 {
	margin-right: 10px;
}

.jumbotron p {
	font-size: 18px;
	margin-left: 20px;
}

.btn-default {
  color: #fff;
  background-color: #1c1f2b;
  border-color: #1c1f2b;
  border-radius: 0;
}
.btn-default:hover {
  color: #fff;
  background-color: #2d3346;
  border-color: #2d3346;
  border-radius: 0;
}
