{% extends 'Web/Views/layout.html.twig' %}

{% block body %}
    
    <div class="container">
      <div class="row">
        <div class="jumbotron col-md-12">
        <h1>Hello, Group-Co!</h1>
          <p class="mt20"> <span class="glyphicon glyphicon-leaf mr10"></span> 异步协程，应对高并发</p>
          <p> <span class="glyphicon glyphicon-leaf mr10"></span> SOA服务化调用，支持并行、串行调用</p>
          <p> <span class="glyphicon glyphicon-leaf mr10"></span> 支持异步日志(待更新),异步Mysql(待更新),异步Redis(待更新)</p>
          <p> <span class="glyphicon glyphicon-leaf mr10"></span> 支持数据库连接池(待更新)</p>
          <p> <span class="glyphicon glyphicon-leaf mr10"></span> 强大的Twig、Doctrine支持视图、数据层</p>
          </p>
        </div>
      </div>
    </div>

{% endblock %}

