{% extends 'Web/Views/layout.html.twig' %}

{% block header %}
{% endblock %}
{% block body %}

        <style>
            html, body {
                height: 100%;
            }

            body {
                margin: 0;
                padding: 0;
                width: 100%;
                display: table;
                font-weight: 100;
                font-family: 'Lato';
            }

            .container {
                margin-top: 20%;
                text-align: center;
                vertical-align: middle;
            }
            
            .content {
                text-align: center;
                display: inline-block;
            }

            .title {
                font-size: 96px;
            }
        </style>

        <div class="container">
            <div class="content">
                <div class="title">Page Not Found！</div>
            </div>
        </div>

{% endblock %}
{% block footer %}
{% endblock %}